<main role="main" class="flex-shrink-0" style="padding: 20px;">
  <div class="container-fluid">
    <div class="jumbotron">
      <img src="./assets/chinilogo.png" height="150" width="auto">
      <h1 class="display-4">Lo sentimos</h1>
      <p class="lead">No tiene autorización para ingresar a esta ruta.</p>
      <p class="lead">Contacte al Administrador.</p>
      <hr class="my-4">
      <p>Si quieres regresar al inicio</p>
      <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Has click aquí</a>
    </div>
  </div>
</main>
