<main role="main" class="flex-shrink-0" style="padding: 20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-9">
        <section class="jumbotron text-center">
          <h3 class="color-chini">Agregar Producto</h3>
          <div *ngIf="hasError" class="alert alert-danger fade show" role="alert" style="margin: 1%;">
            <strong>Ha ocurrido un error!</strong> intenta nuevamente.
            <button type="button" class="close" aria-label="Close" (click)="closeAlert(1)" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="isSuccess" class="alert alert-success fade show" role="alert" style="margin: 1%;">
            <strong>Producto</strong> creado exitosamente.
            <button type="button" class="close" aria-label="Close" (click)="closeAlert(2)" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="productForm" class="text-left top-space">
            <div class="form-group">
              <label for="name">Nombre del Producto</label>
              <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': (nameFormControl.errors && nameFormControl.touched) || (nameFormControl.errors && submitted), 'is-valid': nameFormControl.valid }" class="form-control" id="name">
              <div *ngIf="nameFormControl.errors" class="invalid-feedback">
                <div *ngIf="nameFormControl.errors.required">El campo <b>Nombre</b> es requerido.</div>
                <div *ngIf="nameFormControl.errors.minLength">El campo <b>Nombre</b> tiene menos de 4 caracteres.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Descripción del Producto</label>
              <input type="text" formControlName="description" [ngClass]="{ 'is-invalid': (descriptionFormControl.errors && descriptionFormControl.touched) || (descriptionFormControl.errors && submitted), 'is-valid': descriptionFormControl.valid }" class="form-control" id="description">
              <div *ngIf="descriptionFormControl.errors" class="invalid-feedback">
                <div *ngIf="descriptionFormControl.errors.required">El campo <b>Descripción</b> es requerido.</div>
                <div *ngIf="descriptionFormControl.errors.minLength">El campo <b>Descripción</b> tiene menos de 4 caracteres.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="price">Precio del Producto</label>
              <input type="number" formControlName="price" [ngClass]="{ 'is-invalid': (priceFormControl.errors && priceFormControl.touched) || (priceFormControl.errors && submitted), 'is-valid': priceFormControl.valid }" class="form-control" id="price">
              <div *ngIf="priceFormControl.errors" class="invalid-feedback">
                <div *ngIf="priceFormControl.errors.required">El campo <b>Precio</b> es requerido.</div>
                <div *ngIf="priceFormControl.errors.min">El campo <b>Precio</b> requiere un valor superior a los $100.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="stock">Stock del Producto</label>
              <input type="number" formControlName="stock" [ngClass]="{ 'is-invalid': (stockFormControl.errors && stockFormControl.touched) || (stockFormControl.errors && submitted), 'is-valid': stockFormControl.valid }" class="form-control" id="stock">
              <div *ngIf="stockFormControl.errors" class="invalid-feedback">
                <div *ngIf="stockFormControl.errors.required">El campo <b>Stock</b> es requerido.</div>
                <div *ngIf="stockFormControl.errors.min">El campo <b>Stock</b> requiere un valor igual o superior a 1.</div>
              </div>
            </div>
            <div class="form-group top-space">
              <label for="brand_id">Marca del Producto</label>
              <select type="text" formControlName="brand_id" [ngClass]="{ 'is-invalid': (brandIdFormControl.errors && brandIdFormControl.touched) || (brandIdFormControl.errors && submitted), 'is-valid': brandIdFormControl.valid }" class="form-control" id="brand_id">
                <option *ngFor="let brand of brands" [value]='brand.id' >{{brand.name}}</option>
              </select>
              <div *ngIf="brandIdFormControl.errors" class="invalid-feedback">
                <div *ngIf="brandIdFormControl.errors.required">El campo <b>Marca</b> es requerido.</div>
              </div>
            </div>
            <div class="form-group top-space">
              <label for="category_id">Categoría a la que se asocia el Producto</label>
              <select type="text" formControlName="category_id" [ngClass]="{ 'is-invalid': (categoryIdFormControl.errors && categoryIdFormControl.touched) || (categoryIdFormControl.errors && submitted), 'is-valid': categoryIdFormControl.valid }" class="form-control" id="category_id">
                <option *ngFor="let cat of categorys" [value]='cat.id' >{{cat.name}}</option>
              </select>
              <div *ngIf="categoryIdFormControl.errors" class="invalid-feedback">
                <div *ngIf="categoryIdFormControl.errors.required">El campo <b>Categoría</b> es requerido.</div>
              </div>
            </div>
            <div class="form-check top-space">
              <input class="form-check-input" type="checkbox" formControlName="has_color" id="has_color">
              <label class="form-check-label" for="has_color">
                ¿Tiene color asignable?
              </label>
            </div>
            <div class="form-group top-space" *ngIf="hasColorFormControl.value">
              <label for="color">Color del Producto</label>
              <input type="color" formControlName="color" [ngClass]="{ 'is-invalid': (colorFormControl.value.length == 0 && hasColorFormControl.value && colorFormControl.touched) || (colorFormControl.value.length == 0 && hasColorFormControl.value  && submitted), 'is-valid': colorFormControl.value.length > 0 && hasColorFormControl.value  }" class="form-control" id="color">
              <div *ngIf="colorFormControl.value.length == 0 && hasColorFormControl.value " class="invalid-feedback">
                <div>El campo <b>Color</b> es requerido.</div>
              </div>
            </div>
            <div class="form-group top-space">
              <label for="img">Imagen del Producto</label>
              <input type="file" formControlName="img" #img (change)="fileImg(img.files)" [ngClass]="{ 'is-invalid': (imgFormControl.errors && imgFormControl.touched) || (imgFormControl.errors && submitted), 'is-valid': img.files.length > 0 }" class="form-control-file" id="img">
              <div *ngIf="imgFormControl.errors" class="invalid-feedback">
                <div>El campo <b>Imagen</b> es requerido.</div>
              </div>
            </div>
            <div class="form-check top-space">
              <input class="form-check-input" type="checkbox" formControlName="is_custom" id="is_custom">
              <label class="form-check-label" for="is_custom">
                ¿Es Personalizable o tiene características personalizables?
              </label>
            </div>
            <div class="row top-space">
              <div class="col-2">
                <button type="button" class="btn btn-chini" (click)="submit()">Crear</button>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-secondary" (click)="clean()">Limpiar</button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</main>
