<main role="main" class="flex-shrink-0" style="padding: 20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-9">
        <section class="jumbotron text-center">
          <h3 class="color-chini">Lista de Tipo de Imagen</h3>

          <div class="card top-space">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Opciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let imageType of imagesTypes">
                <th scope="row">{{ imageType.id }}</th>
                <td>{{ imageType.name }}</td>
                <td>
                   <div ngbDropdown container="body">
                    <button class="btn btn-outline-chini btn-sm" ngbDropdownToggle>Acciones</button>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem *ngIf="user.role.id === 1" (click)="openModal(edit,imageType,1)">Editar</button>
                      <div class="dropdown-divider" *ngIf="user.role.id === 1"></div>
                      <button ngbDropdownItem *ngIf="user.role.id === 1" (click)="openModal(delete,imageType,2)">Borrar</button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshBrands()">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshBrands()">
              <option [ngValue]="5">5 elementos por Página</option>
              <option [ngValue]="10">10 elementos por Página</option>
              <option [ngValue]="20">20 elementos por Página</option>
            </select>
          </div>
        </section>
      </div>
    </div>
  </div>
  <ng-template #edit let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar Tipo de Imagen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="imageTypeForm" class="text-left top-space">
        <div class="form-group">
          <label for="name">Nombre del Tipo de Imagen</label>
          <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': (nameFormControl.errors && nameFormControl.touched) || (nameFormControl.errors && submitted), 'is-valid': nameFormControl.valid }" class="form-control" id="name">
          <div *ngIf="nameFormControl.errors" class="invalid-feedback">
            <div *ngIf="nameFormControl.errors.required">El campo <b>Nombre</b> es requerido.</div>
            <div *ngIf="nameFormControl.errors.minLength">El campo <b>Nombre</b> tiene menos de 4 caracteres.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Descripción del Tipo de Imagen</label>
          <input type="text" formControlName="description" [ngClass]="{ 'is-invalid': (descriptionFormControl.errors && descriptionFormControl.touched) || (descriptionFormControl.errors && submitted), 'is-valid': descriptionFormControl.valid }" class="form-control" id="description">
          <div *ngIf="descriptionFormControl.errors" class="invalid-feedback">
            <div *ngIf="descriptionFormControl.errors.required">El campo <b>Descripción</b> es requerido.</div>
            <div *ngIf="descriptionFormControl.errors.minLength">El campo <b>Descripción</b> tiene menos de 4 caracteres.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="extra_price">Precio Extra por Tipo de Imagen</label>
          <input type="number" formControlName="extra_price" [ngClass]="{ 'is-invalid': (extraPriceFormControl.errors && extraPriceFormControl.touched) || (extraPriceFormControl.errors && submitted), 'is-valid': extraPriceFormControl.valid }" class="form-control" id="extra_price">
          <div *ngIf="extraPriceFormControl.errors" class="invalid-feedback">
            <div *ngIf="extraPriceFormControl.errors.min">El campo <b>Precio Extra</b> debe tener un valor mayor a $0.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="image_side_id">Ubicación de la Imagen en la Hoja</label>
          <select type="text" formControlName="image_side_id" [ngClass]="{ 'is-invalid': (imageSideIdFormControl.errors && imageSideIdFormControl.touched) || (imageSideIdFormControl.errors && submitted), 'is-valid': imageSideIdFormControl.valid }" class="form-control" id="image_side_id">
            <option *ngFor="let imageSide of imageSides" [value]='imageSide.id' >{{imageSide.name}}</option>
          </select>
          <div *ngIf="imageSideIdFormControl.errors" class="invalid-feedback">
            <div *ngIf="imageSideIdFormControl.errors.required">El campo <b>Ubicación</b> es requerido.</div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-chini" (click)="editImageType()">Editar Tipo de Imagen</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>
  <ng-template #delete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Borrar Tipo de Imagen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Está seguro de que desea borrar el tipo de imagen <b>{{currentImageType.name}}</b>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="deleteImageType()">Borrar Tipo de Imagen</button>
      <button type="button" class="btn btn-chini" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>
  <ng-template #info let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Información</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{message}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-chini" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>
</main>
