<main role="main" class="flex-shrink-0" style="padding: 20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-9">
        <section class="jumbotron text-center">
          <h3 class="color-chini">Lista de Tipos de Caraterísticas de Categorías</h3>

          <div class="card top-space">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">¿Tiene Color?</th>
                <th scope="col">¿Tiene Imagen?</th>
                <th scope="col">Caraterística de Categoría</th>
                <th scope="col">Categoría</th>
                <th scope="col">Opciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let type of typesCharactCategorys">
                <th scope="row">{{ type.id }}</th>
                <td>{{ type.name }}</td>
                <td>
                  <ng-container *ngIf="type.has_color">
                    <fa-icon [icon]="iconOk" [style.color]="type.color"></fa-icon>
                  </ng-container>
                  <ng-container *ngIf="!type.has_color">
                    <fa-icon [icon]="iconNot" style="color: red;"></fa-icon>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="type.has_img">
                    <img [src]="pre + type.img" class="img-thumbnail-chini rounded mx-auto d-block" [alt]="type.name">
                  </ng-container>
                  <ng-container *ngIf="!type.has_img">
                    <fa-icon [icon]="iconNot" style="color: red;"></fa-icon>
                  </ng-container>
                </td>
                <td>{{ type.charact_category.name }}</td>
                <td>{{ type.charact_category.category.name }}</td>
                <td>
                   <div ngbDropdown container="body">
                    <button class="btn btn-outline-chini btn-sm" ngbDropdownToggle>Acciones</button>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem *ngIf="user.role.id === 1" (click)="openModal(edit,type,1)">Editar</button>
                      <div class="dropdown-divider" *ngIf="user.role.id === 1"></div>
                      <button ngbDropdownItem *ngIf="user.role.id === 1" (click)="openModal(delete,type,2)">Borrar</button>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCharactCategorys()">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCharactCategorys()">
              <option [ngValue]="5">5 elementos por Página</option>
              <option [ngValue]="10">10 elementos por Página</option>
              <option [ngValue]="20">20 elementos por Página</option>
            </select>
          </div>
        </section>
      </div>
    </div>
  </div>
  <ng-template #edit let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar Tipo de Caraterística de Categoría</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="typeCharactCatForm" class="text-left top-space">
        <div class="form-group">
          <label for="name">Nombre del Tipo de Característica de una Categoría</label>
          <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': (nameFormControl.errors && nameFormControl.touched) || (nameFormControl.errors && submitted), 'is-valid': nameFormControl.valid }" class="form-control" id="name">
          <div *ngIf="nameFormControl.errors" class="invalid-feedback">
            <div *ngIf="nameFormControl.errors.required">El campo <b>Nombre</b> es requerido.</div>
            <div *ngIf="nameFormControl.errors.minLength">El campo <b>Nombre</b> tiene menos de 4 caracteres.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Descripción del Tipo de Característica de una Categoría</label>
          <input type="text" formControlName="description" [ngClass]="{ 'is-invalid': (descriptionFormControl.errors && descriptionFormControl.touched) || (descriptionFormControl.errors && submitted), 'is-valid': descriptionFormControl.valid }" class="form-control" id="description">
          <div *ngIf="descriptionFormControl.errors" class="invalid-feedback">
            <div *ngIf="descriptionFormControl.errors.required">El campo <b>Descripción</b> es requerido.</div>
            <div *ngIf="descriptionFormControl.errors.minLength">El campo <b>Descripción</b> tiene menos de 4 caracteres.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="category_id">Categoría a la que se asocia</label>
          <select type="text" formControlName="category_id" (change)="changeCategory()" class="form-control" id="category_id">
            <option *ngFor="let cat of categorys" [value]='cat.id' >{{cat.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="charact_category_id">Característica de Categoría a la que se asocia</label>
          <select type="text" formControlName="charact_category_id" [ngClass]="{ 'is-invalid': (charactCategoryIdFormControl.errors && charactCategoryIdFormControl.touched) || (charactCategoryIdFormControl.errors && submitted), 'is-valid': charactCategoryIdFormControl.valid }" class="form-control" id="charact_category_id">
            <option *ngFor="let chract of charactCategorys" [value]='chract.id' >{{chract.name}}</option>
          </select>
          <div *ngIf="charactCategoryIdFormControl.errors" class="invalid-feedback">
            <div *ngIf="charactCategoryIdFormControl.errors.required">El campo <b>Característica de Categoría</b> es requerido.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="extra_price">Precio Extra del Tipo de Característica de una Categoría</label>
          <input type="number" formControlName="extra_price" [ngClass]="{ 'is-invalid': (extraPriceFormControl.errors && extraPriceFormControl.touched) || (extraPriceFormControl.errors && submitted), 'is-valid': extraPriceFormControl.valid }" class="form-control" id="extra_price">
          <div *ngIf="extraPriceFormControl.errors" class="invalid-feedback">
            <div *ngIf="extraPriceFormControl.errors.required">El campo <b>Precio Extra</b> es requerido.</div>
            <div *ngIf="extraPriceFormControl.errors.min">El campo <b>Precio Extra</b> debe tener un valor mínimo de 0.</div>
          </div>
        </div>
        <div class="form-check top-space">
          <input class="form-check-input" type="checkbox" formControlName="has_color" id="has_color">
          <label class="form-check-label" for="has_color">
            ¿Tiene color asignable?
          </label>
        </div>
        <div class="form-group top-space" *ngIf="hasColorFormControl.value">
          <label for="color">Color asignado al Tipo de Característica</label>
          <input type="color" formControlName="color" [ngClass]="{ 'is-invalid': (colorFormControl.value.length == 0 && hasColorFormControl.value && colorFormControl.touched) || (colorFormControl.value.length == 0 && hasColorFormControl.value  && submitted), 'is-valid': colorFormControl.value.length > 0 && hasColorFormControl.value  }" class="form-control" id="color">
          <div *ngIf="colorFormControl.value.length == 0 && hasColorFormControl.value " class="invalid-feedback">
            <div>El campo <b>Color</b> es requerido.</div>
          </div>
        </div>
        <div class="form-check top-space">
          <input class="form-check-input" type="checkbox" formControlName="has_img" id="has_img">
          <label class="form-check-label" for="has_img">
            ¿Tiene imagen asignable?
          </label>
        </div>
        <div class="form-group top-space" *ngIf="hasImgFormControl.value">
          <label for="color">Imagen asignada al Tipo de Característica</label>
          <input type="file" formControlName="img" #img (change)="fileImg(img.files)" [ngClass]="{ 'is-invalid': (img.files.length == 0 && hasImgFormControl.value && imgFormControl.touched) || (img.files.length == 0 && hasImgFormControl.value && submitted), 'is-valid': img.files.length > 0 && hasImgFormControl.value }" class="form-control-file" id="img">
          <div *ngIf="img.files.length == 0 && hasImgFormControl.value" class="invalid-feedback">
            <div>El campo <b>Imagen</b> es requerido.</div>
          </div>
          <div *ngIf="hasImgFormControl.value" class="valid-feedback" style="display: block;">
            <div>Imagen <b>Actual</b>.</div>
            <img [src]="pre + currentTypeChartCat.img" class="img-chini-type">
          </div>
        </div>
        <div class="form-group top-space">
          <label for="state">Estado de la Característica</label>
          <select type="text" formControlName="state" [ngClass]="{ 'is-invalid': (stateFormControl.errors && stateFormControl.touched) || (stateFormControl.errors && submitted), 'is-valid': stateFormControl.valid }" class="form-control" id="state">
            <option *ngFor="let state of states" [value]='state.id' >{{state.name}}</option>
          </select>
          <div *ngIf="stateFormControl.errors" class="invalid-feedback">
            <div *ngIf="stateFormControl.errors.required">El campo <b>Estado</b> es requerido.</div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-chini" (click)="editCat()">Editar Tipo de Característica de Categoría</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>
  <ng-template #delete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Borrar Tipo de Caraterística de Categoría</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Está seguro de que desea borrar el tipo de característica de la categoría <b>{{currentTypeChartCat.name}}</b>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="deleteCat()">Borrar Tipo de Característica de Categoría</button>
      <button type="button" class="btn btn-chini" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>
  <ng-template #info let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Información</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{message}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-chini" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>
</main>
