<div class="container-fluid">
  <hr color="#ff0080">
  <div class="row">
    <div class="col-4 col-md" style="text-align: center;">
      <h5 style="color: #ff0080;">Información</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" routerLink="/shipping">Envío y Entregas</a></li>
        <li><a class="text-muted" routerLink="/how-buy">¿Cómo Comprar?</a></li>
        <li><a class="text-muted" routerLink="/contact">Contacto</a></li>
      </ul>
    </div>
    <div class="col-4 col-md" style="text-align: center;">
        <p><img src="./assets/chinilogo.png" height="80" width="auto"></p>
        <p class="text-muted">Chinipapelería &copy; 2020</p>
    </div>
    <div class="col-4 col-md" style="text-align: center;">
        <h5 style="color: #ff0080;">RRSS</h5>

    </div>
  </div>
</div>
